<a href="https://colab.research.google.com/github/ShkarupyloMaksym/hakathon_INT20H/blob/main/82%25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import pandas
import sklearn

In [126]:
data = pandas.read_csv('train.csv')

In [127]:
data = data.drop(['Id','Week'], axis=1)

In [128]:
x = data
for i in data.columns[data.isna().any()].tolist():
  x[i] = x[i].fillna(x[i].median())

In [129]:
x, y = x.drop(['target'],axis=1), x['target']

In [130]:
x[0:4]

    V1   V2   V3        V4  ...       P24       P25     P26       P27
0  0.0  0.0  0.0  0.011364  ...  4.820000  0.333333  6712.0  0.333333
1  0.0  0.0  0.0  0.011364  ...  4.820000  0.652174  4873.0  0.391304
2  0.0  0.0  0.0  0.011364  ...  4.820000  0.500000  2175.0  0.181818
3  0.0  0.0  0.0  0.011364  ...  4.814737  0.447368  4093.0  0.394737

[4 rows x 49 columns]

In [131]:
# from sklearn.feature_selection import VarianceThreshold
# var_thr = VarianceThreshold(threshold = 0.25) 
# var_thr.fit(x)
# x = var_thr.transform(x)

In [132]:
from sklearn.preprocessing import StandardScaler
 
# Initialise the Scaler
scaler = StandardScaler()
 
# To scale data
scaler.fit(x)
x = pandas.DataFrame(scaler.transform(x))

In [133]:
from sklearn.model_selection import train_test_split

test_x_train, test_x_test, test_y_train, test_y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [134]:
test_y_test.value_counts()

0.0    5067
1.0    1105
Name: target, dtype: int64

In [135]:
# from sklearn.ensemble import RandomForestClassifier
# test_model = RandomForestClassifier(n_estimators = 15, criterion = 'entropy', random_state = 0)
# test_model.fit(test_x_train, test_y_train)

In [136]:
# from sklearn.linear_model import LogisticRegression
# test_model = LogisticRegression(random_state = 0)
# test_model.fit(test_x_train, test_y_train)

In [137]:
from xgboost import XGBClassifier
test_model = XGBClassifier()
test_model.fit(test_x_train, test_y_train) #549, 88%

XGBClassifier()

In [138]:
# from sklearn.svm import SVC
# test_model = SVC(kernel = 'rbf', random_state = 0)
# test_model.fit(test_x_train, test_y_train)

In [139]:
print(test_model.predict(test_x_test).sum())
print(len(test_x_test))

943.0
6172

In [140]:
test_model.score(test_x_test,test_y_test)

0.8878807517822424

In [141]:
model = XGBClassifier()
model.fit(x, y)

XGBClassifier()

In [142]:
def return_1_or_0(list_of_numbers):
  # aver = sum(list_of_numbers)/len(list_of_numbers)
  # if aver>=0.5:
  #   return 1.0
  # else:
  #   return 0.0
  if 1 in list_of_numbers:
    return 1.0
  else:
    return 0.0

In [143]:
main_test_data = pandas.read_csv('test.csv')

In [144]:
id_list = [i for i in main_test_data['Id']]

In [145]:
id_list = [id_list[i*4] for i in range(int(len(id_list)/4))]

In [146]:
main_test_data = main_test_data.drop(['Id','Week'], axis=1)

In [147]:
for i in main_test_data:
  main_test_data[i] = main_test_data[i].fillna(main_test_data[i].median())

In [148]:
main_test_data = pandas.DataFrame(scaler.transform(main_test_data))

In [149]:
list_of_predicts = []
for i in range(int(len(main_test_data)/4)):
  j=i*4
  list_of_predicts.append(model.predict(main_test_data[j:j+4]))

In [150]:
main_test_data

             0         1         2   ...        46        47        48
0     -0.736453 -0.647157 -0.382287  ...  1.294410  0.381446  1.236734
1     -0.736453 -0.647157 -0.382287  ...  1.301807  1.028145  1.528111
2     -0.736453 -0.647157 -0.382287  ...  1.286643 -0.389670  1.965177
3     -0.736453 -0.647157 -0.382287  ...  1.406057 -0.700378  1.291367
4     -0.736453 -0.647157 -0.605800  ... -0.972738 -0.252280 -0.997159
...         ...       ...       ...  ...       ...       ...       ...
13223 -0.736453 -0.647157 -0.461377  ...  0.747751 -0.755268  0.810875
13224 -0.297526 -0.309348 -0.294147  ...  0.040831 -0.318147 -0.220153
13225 -0.297526 -0.309348 -0.294147  ...  0.040831 -0.318147 -0.220153
13226 -0.297526 -0.309348 -0.294147  ... -1.579284  0.740390 -0.569805
13227 -0.297526 -0.309348 -0.294147  ... -1.459119 -0.711356 -0.846889

[13228 rows x 49 columns]

In [151]:
  print(main_test_data.values[0:0+4])

[[-0.73645271 -0.64715733 -0.3822874  -0.20280938 -0.28662564  0.12709729
  -0.97056906 -0.70168215  3.74759977  0.48698612 -0.43359225 -0.19883348
  -0.15774039  0.29569627 -0.06334527 -0.23748714  2.08615746  0.66336607
   0.17656745 -0.83325191 -0.29127018  0.02541222 -0.13749107  3.1358083
  -1.13058084  0.01182041  0.99458825 -0.05835473  1.62416642 -0.3232472
  -0.2464044  -0.82178358  0.15578603 -1.35236164 -0.57002868  0.13928191
   1.23871106 -0.9226466   0.03293309  2.32322919 -0.05057228 -1.49620928
   0.66740561  1.64670859 -0.20731301 -1.46256594  1.29440967  0.38144566
   1.2367341 ]
 [-0.73645271 -0.64715733 -0.3822874  -0.20280938 -0.28662564  0.12709729
  -0.97056906 -0.70168215  3.74759977  0.48698612 -0.43359225 -0.19883348
  -0.15774039  0.29569627 -0.06334527 -0.23748714  2.08615746  0.66336607
   0.17656745 -0.83325191 -0.29127018  0.02541222 -0.00810744  1.75937331
  -1.13820484  0.00714743  0.56750344  0.30186329  2.55736492 -0.3232472
  -0.2464044  -0.82178358 -0.24860868 -1.50887347 -0.57002868  0.13278884
   0.30026785 -1.09282217  0.006782    2.62171049 -0.1297115  -1.66998608
   0.76304181  2.85700677 -0.20731301 -1.66788025  1.30180656  1.02814495
   1.52811143]
 [-0.73645271 -0.64715733 -0.3822874  -0.20280938 -0.28662564  0.12709729
  -0.97056906 -0.70168215  3.74759977  0.48698612 -0.43359225 -0.19883348
  -0.15774039  0.29569627 -0.06334527 -0.23748714  2.08615746  0.66336607
   0.17656745 -0.83325191 -0.29127018  0.02541222 -0.75206329  1.82558157
  -1.12257563  0.00503733  0.86120441  0.19608498  2.12817674 -0.3232472
  -0.2464044  -0.94925886 -1.15849676 -1.35236164 -0.23795581  0.13055725
   1.06539433 -1.4331733   0.01080932  2.31668204  0.83453734 -1.66998608
   0.52148603  1.47483192 -0.20731301 -1.52573958  1.28664293 -0.38967005
   1.96517743]
 [-0.73645271 -0.64715733 -0.3822874  -0.20280938 -0.28662564  0.12709729
  -0.97056906 -0.70168215  3.74759977  0.48698612 -0.43359225 -0.19883348
  -0.15774039  0.29569627 -0.06334527 -0.23748714  2.08615746  0.66336607
   0.17656745 -0.83325191 -0.29127018  0.02541222 -0.55798785  1.57103651
  -1.34822238  0.02232863  0.68036669  0.07315343  2.20280405 -0.3232472
  -0.2464044  -0.32781687 -0.13487267 -1.35236164 -0.31267221  0.19865632
   1.30075219 -1.4331733   0.02020721  2.18284402 -0.09708393 -1.66998608
   0.23849491  1.98330039  0.60590222 -1.52573958  1.40605654 -0.70037846
   1.29136735]]

In [152]:
list_of_predicts = [return_1_or_0(i) for i in list_of_predicts]

In [153]:
result_test_data = pandas.DataFrame({'id': id_list,
                                     'Predicted': list_of_predicts})

In [154]:
result_test_data.to_csv('result.csv',index=False)

In [155]:
sum(list_of_predicts)

549.0